body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

blueText {
  color: dodgerblue;
}

.button {
  display: flex;
  background-color: dodgerblue;
  color: white;
  justify-content: left;
  flex-direction: column-reverse;
}

.blue {
  background-color: blue; 
  font-size: 50px;
}

flexContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

}

routines {
  cursor: hand,
  
}

.app-header {
  color: red;
  font-size: 100px;
  font-weight: 900;
  text-align: center;
}

.app-motto {
  color: red;
  font-size: 25px;
  font-weight: 450;
  text-align: center;
  cursor: default;
}

.rbc-row-segment {
  /* padding: 0 1px 1px 1px; */
  text-align: center;
  vertical-align: relative;
}

/* .rbc-calendar *, .rbc-calendar *:before, .rbc-calendar *:after{
  box-sizing: unset !important;
} */